<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.flash.widget"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <application android:icon="@drawable/icon" 
                 android:label="@string/app_name">
        <receiver android:name=".FlashWidgetActivity"
                  android:label="@string/app_name">
            <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                 <action android:name="com.flash.widget.ON"/>
                 <action android:name="com.flash.widget.OFF"/>
            </intent-filter>
            <meta-data 
            	android:name="android.appwidget.provider"
            	android:resource="@xml/flashprovider"/>
        </receiver>
    </application>
</manifest>